.form--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.charge--button {
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  background: lightblue;
  border: none;
  outline: auto;
  font-size: 21px;
}

.connect--button {
  margin: 10px 20px;
  padding: 10px;
  width: 250px;
  background: greenyellow;
  border: none;
  outline: auto;
  font-size: 21px;
}

.capture--button {
  margin: 10px 20px;
  padding: 10px;
  width: 250px;
  background: blueviolet;
  border: none;
  outline: auto;
  font-size: 21px;
}
